<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>Netsec | {% block title %}{% endblock %}</title>
    </head>
    <body>
	    <header>
	        <h1>Netsec Main Page</h1>
	    </header>

	    <section>
	        <ul>
	            <li><a href="/gradez/">Gradez</a></li>
	            <li><a href="/logout/">logout</a></li>
	        </ul>
	    </section>

	    {% block content %}{% endblock %}

	    <footer>
	        <span>© Netsec</span>
	    </footer>
    </body>
</html>