{% extends "base.html" %}
{% comment %}
Main page of the portal.
{% endcomment %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
    <section>
        <h2>Welcome, {{ user.username }}</h2>
        <p>This is the main page of the web portal.</p>
    </section>
{% endblock %}