<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
            <title>Netsec | Login</title>
    </head>
    <body>
        <header>
            <h1>Netsec</h1>
            <h2>Login Page</h2>
        </header>

        <section>
            {% if form.errors %}
                <p>Your username and password didn't match, please try again.</p>
            {% endif %}

            <form method="post" action=".">
            {% csrf_token %}                
                <p>
                    <label for="id_username">Username:</label>
                    {{ form.username }}
                </p>
                <p>
                    <label for="id_password">Password:</label>
                    {{ form.password }}
                </p>
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% else %}
                    <input type="hidden" name="next" value="/" />
                {% endif %}
                <input type="submit" value="login" />
            </form>
        </section>
    </body>
</html>



